
#todo-body li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  background-color: rgb(238, 238, 238);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;  
  line-height:-1em;
  width:50%;
}

#todo-body{
  width: 100%;
}

.actions{
  font-size: small;
  line-height: 2.3em;    
  position: relative;
  float: right;
  right: 10px;
}


.name{
  height:100%;  
  float:left;
  margin-left: 20px;
}
